header {
  margin-bottom: 5rem;
}

.cabecalho {
  background-image: url("/wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 0;
  box-shadow: 
  rgba(0, 0, 0, 0.25) 405px 40px 55px, 
  rgba(0, 0, 0, 0.12) 405px 10px 40px, 
  rgba(0, 0, 0, 0.12) 405px 4px 6px, 
  rgba(0, 0, 0, 0.17) 405px 12px 13px, 
  rgba(0, 0, 0, 0.09) 405px -3px 5px;
}

.cabecalho__hero {
  display: flex;
  margin: 0 60px;
  gap: 40px;
  align-items: center;
}

.cabecalho__titulo>h1 {
  color: #ef0e90;
  font-weight: bold;
  font-family: "Great Vibes", "cursive";
  font-size: 5rem;
}

.cabecalho__titulo>h2 {
  font-family: "Great Vibes", "cursive";
  color: #ef0e90;
  margin-top: 1rem;
  font-size: 2rem;
}

.cabecalho__links {
  display: flex;
  gap: 20px;
  font-size: 18px;
  margin: 0 40px;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  gap: .2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

.links>img {
  width: 2rem;
  height: 2rem;
  justify-content: center;
}

.links:hover {
  text-decoration: underline;
}